/* GENERAL SEMANTICS */
* {
  box-sizing: border-box;
  font-family: inherit;
}

html,
body,
.container {
  margin: 0;
  padding: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  /* background-image: radial-gradient(var(--white), var(--light-gray)); */
  /* background-color: var(--white); */
  background-image: linear-gradient(to bottom, var(--light-gray), var(--white));
  font-family: "Poppins", sans-serif;
}

/* HEADER */
header {
  width: 100vw;
  height: 20vh;
  padding: 1vh 5vw;

  /* flexbox alignment */
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;

  color: var(--primary);
}

div.logo {
  width: 15vw;
  height: 15vh;
  background-image: url(../img/everymatrix-logo-white.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

header nav {
  width: fit-content;

  /* flexbox alignment */
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

header nav button,
header nav div {
  margin: 2vh 3vw;
}

header nav button {
  width: 12.5vw;
  height: 8vh;
  border: 3px solid var(--primary);
  outline: none;
  border-radius: 5vh;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
}

.prizes_nav {
  background: none;
  color: var(--primary);
}

.deposit_nav {
  background: var(--primary);
  color: var(--white);
}

div.sold {
  /* flexbox alignment */
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 1vh 2vw;
}

.sold_icon {
  background-image: url(../img/wallet.svg);
  width: 3vw;
  height: 5vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
}

.sold {
  margin: 0 0.1vw;
  font-size: 4vh;
}

/* CONTENT */
.content {
  width: 100vw;
  height: fit-content;
  padding: 0 20vw;
  color: var(--black);
}

/* Menu */
section {
  width: 60vw;
}

section.menu {
  padding: 0;

  /* flexbox alignment */
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 1vh 2vw;
}

.ticket {
  width: 18vw;
  height: 14vw;
  -webkit-mask: url(../img/Rectangle\ 53.svg);
  mask: url(../img/Rectangle\ 53.svg);
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  padding: 5vh 4vw;
}

.ticket h3 {
  color: var(--white);
  margin: 0.75vw 2vw;
  text-transform: uppercase;
}

.ticket h1 {
  color: var(--white);
  font-size: 4.2vw;
  margin: 0;
}

.op1 {
  background-color: var(--clr1);
}

.op2 {
  background-color: var(--clr2);
}

.op3 {
  background-color: var(--clr3);
}

/* Info */
section.info {
  padding: 2vh 3vw;
  border: 3px solid var(--light-gray);
  border-radius: 2vh;

  /* flexbox alignment */
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 1vh 2vw;
}

div.info_icon {
  width: 5vw;
  height: 5vw;
  background-image: url(../img/info.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  opacity: 0.7;
}

div.info_text {
  width: 45vw;
  font-size: 20px;
}

/* Start */
button.start {
  width: 60vw;
  height: 15vh;
  margin-left: 2vw;
  margin-top: 5vh;
  background-color: var(--primary);
  color: var(--white);
  outline: none;
  border: 3px solid var(--primary);
  border-radius: 5vh;
  font-size: 35px;
  font-weight: bold;

  /* flexbox */
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

div.deposit_logo {
  width: 5vw;
  height: 5vh;
  background-image: url(../img/deposit.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/* FOOTER */

footer {
  width: 100vw;
  height: 10vh;
  position: fixed;
  left: 0;
  bottom: 0;

  /* flexbox */
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

footer button {
  margin-right: 10vw;
  width: 15vw;
  height: 10vh;
  border-top-left-radius: 5vh;
  border-top-right-radius: 5vh;
  outline: none;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: var(--black);
  border: 3px solid var(--black);
  color: var(--white);
}
